@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://images.unsplash.com/photo-1531270794133-e17fd309885c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=968&q=80')
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #ffffff;
}

.credit {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  color: #d4d4d4;
  padding: 20px 0;
  font-size: 15px;
  text-transform: uppercase;
  z-index: 0;
  filter: blur(0px);
}

.credit a {
  color: inherit;
  padding: 0 10px;
  font-size: 18px;
}
